#title {
    font-family: 'Brush Script MT', cursive, sans-serif;
    font-size: 70px;
    text-align: center;
}

.header {
    font-size: 55px;
    text-align: center;
    border: 2px solid black;
    background-color: #fff;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 247, 139, 0.735);
    font-size: 25px;
}

img {
    height: auto;
    width: 600px;
    margin: auto;
    display: block;
}

.sidetext {
    font-size: 15px;
}

h2,
h3 {
    font-size: 30px;
}

li {
    font-size: 20px;
}

button {
    border: 2px solid blue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-size: large;
}

.homerecipes {
    display: inline-block;
}

.homeimg {
    width: auto;
    height: 70px;
    display: block;
    margin: auto;
}