#title {
    font-family: 'Brush Script MT', cursive, sans-serif;
    font-size: 60px;
    text-align: center;
}

#header {
    font-size: 60px;
    text-align: center;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 247, 139, 0.735);
}

img {
    height: auto;
    width: 600px;
}

.text {
    font-size: 25px;
}

.sidetext {
    font-size: 15px;
}

h2,
h3 {
    font-size: 30px;
}

li {
    font-size: 20px;
}